<div *ngIf="tournament && day" class="content">
    <div style="float: right; margin-top: 20px;"><a routerLink="/home">Home</a></div>
    <h1 class="tournament-name">{{tournament.name}}</h1>
    <div style="text-align: center;">
        <mat-form-field>
            <mat-select placeholder="Day" [value]="day" (valueChange)="dayChange($event)">
                <mat-option *ngFor="let d of tournament.days" [value]="d">
                    {{d.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <div class="groups">
            <mat-accordion>
                <mat-expansion-panel *ngFor="let group of day.groups; index as groupIdx" class="group {{ groupIdx === currentGroupEntryIdx ? 'group-selected' : '' }}" #groups>
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{ group.groupName }}</mat-panel-title>
                        <span *ngIf="groupIdx !== currentGroupEntryIdx" style="margin-right: 40px; font-size: 2em;">
                            <mat-icon (click)="playGroup(groupIdx, $event)">play_arrow</mat-icon>
                        </span>
                    </mat-expansion-panel-header>
                    <mat-list class="entries">
                        <mat-list-item *ngFor="let entry of group.entries; index as entryIdx" class="entry {{ groupIdx == currentGroupEntryIdx && entryIdx == currentEntryIdx ? 'entry-selected' : '' }}">
                            <div style="width: 100%;">
                                <div class="entry-time-row">{{entry.beginTime | date : 'hh:mm'}} to {{entry.endTime | date : 'hh:mm'}}: {{entry.name}}</div>
                                <div class="entry-events-row">
                                    <div *ngIf="entry.beginEvent" class="entry-time-beginEvent">{{entry.beginEvent.name}}</div>
                                    <div *ngIf="entry.endEvent" class="entry-time-endEvent">{{entry.endEvent.name}}</div>
                                </div>
                            </div>
                            <div class="entry-icons">
                                <mat-icon *ngIf="groupIdx !== currentGroupEntryIdx || entryIdx !== currentEntryIdx" (click)="playEntry(groupIdx, entryIdx)" [inline]="true">play_arrow</mat-icon>
                            </div>
                        </mat-list-item>
                    </mat-list>

                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="side-panel" style="margin-top: {{ currentGroupEntryIdx * 50 }}px;">
            <div class="control-panel">
                <div class="control-panel-title">Time control</div>
                <div class="control-panel-message">{{message}}</div>
                <div class="control-panel-time" *ngIf="playing || pausing">
                    <span>{{(remainingTime / 60) - (remainingTime / 60) % 1 | number: '2.0-0'}}m{{(remainingTime % 60) | number: '2.0-0'}}s</span>
                    <span> - </span>
                    <span>{{(elaspedTime / 60) - (elaspedTime / 60) % 1 | number: '2.0-0'}}m{{(elaspedTime % 60) | number: '2.0-0'}}s</span>
                </div>
                <div class="control-panel-buttons">
                    <mat-icon (click)="previousEntry()" style="margin-right: 10px;" [inline]="true">fast_rewind</mat-icon>
                    <mat-icon *ngIf="!playing" (click)="playEntry()" [inline]="true" style="color: #7FBF3F;">play_arrow</mat-icon>
                    <mat-icon *ngIf="playing" (click)="stopEntry()" [inline]="true" style="color: red;">stop</mat-icon>
                    <mat-icon *ngIf="playing" (click)="pauseEntry()" [inline]="true" style="color: blue;">pause</mat-icon>
                    <mat-icon (click)="nextEntry()" [inline]="true">fast_forward</mat-icon>
                </div>
                <div class="control-panel-event-message" *ngIf="eventMessage">
                    {{eventMessage}}
                </div>
            </div>
            <div class="control-panel">
                <div class="control-panel-title">
                    <span>Sound control</span>
                </div>
                <div style="text-align: center;">
                    <mat-icon (click)="stopAudio()" [inline]="true" style="font-size: 2em; margin: 5px; color: red;">stop</mat-icon>
                    <mat-icon (click)="toggleMute()" [inline]="true" style="font-size: 2em; margin: 5px;">
                        {{ mute ? 'volume_off' : 'volume_up'}}</mat-icon>
                </div>
                <div *ngFor="let ev of tournament.events" (click)="playEvent(ev)" style="vertical-align: top; margin-bottom: 5px;">
                    <mat-icon [inline]="true" *ngIf="ev.soundFile" style="font-size: 1.8em; margin: 0 5px;">play_arrow</mat-icon>
                    <span style="margin-left: 10px; vertical-align: top;">{{ev.name}}</span>
                </div>
            </div>
        </div>
    </div>