<div *ngIf="day">
    <div>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput placeholder="Day name" value="" type="text" [(ngModel)]="day.name">
        </mat-form-field>
        <mat-form-field id="open-first-timeslot-input" style="margin-left: 30px; width: 100px;">
            <mat-label>First time slot</mat-label>
            <input matInput placeholder="First time slot" [ngxTimepicker]="firstTime" [format]="24" type="text" [value]="getFirstTime()" style="text-align: center; width: 100%;">
            <ngx-material-timepicker #firstTime [minutesGap]="5" (timeChanged)="setFirstTime($event)" style="display: none;"></ngx-material-timepicker>
        </mat-form-field>
    </div>
    <div style="margin: 20px 0;">
        <span style="font-weight: bold; ">List of time slots:</span>
        <mat-icon (click)="addTimeSlot()" style="font-size: 1.5em; margin-left: 20px;">add_circle_outline</mat-icon>
    </div>
    <mat-list>
        <mat-list-item *ngFor="let group of day.groups; index as idx">
            <div style="width: 100%;">
                <span>{{group.officialTime}}</span>
                <mat-form-field style="margin-left: 20px;">
                    <mat-label>Pattern</mat-label>
                    <mat-select [value]="group.pattern.id" (selectionChange)="patternChanged(idx, $event.value)">
                        <mat-option *ngFor="let pattern of patterns" [value]="pattern.id">{{pattern.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-icon (click)="addTimeSlot(idx+1)" style="font-size: 1.5em; margin-left: 20px;">add_circle_outline</mat-icon>
                <mat-icon *ngIf="day.groups.length > 1" (click)="deleteGroup(idx)" style="font-size: 1.5em; margin-left: 20px;">delete</mat-icon>
            </div>
        </mat-list-item>
    </mat-list>
</div>