<div *ngIf="tournament" class="content">
    <div style="float: right; margin-top: 20px;"><a routerLink="/home">Home</a></div>
    <h1 style="text-align: center;">Tournament Editor</h1>
    <mat-form-field style="width: 400px;">
        <mat-label>Tournament name</mat-label>
        <input matInput placeholder="Tournament name" value="" type="text" [(ngModel)]="tournament.name">
    </mat-form-field>
    <mat-accordion multi="false">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Events</mat-panel-title>
            </mat-expansion-panel-header>
            <app-events-editor [events]="tournament.events"></app-events-editor>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Patterns</mat-panel-title>
            </mat-expansion-panel-header>
            <app-patterns-editor [patterns]="tournament.patterns" [events]="tournament.events"></app-patterns-editor>
        </mat-expansion-panel>
    </mat-accordion>
    <div style="margin: 20px 0;">
        <div style="font-weight: bold; width: 45%; display: inline-block; padding-left: 10px;">List of days:</div>
        <div (click)="addDay()" style="display: inline-block; text-align: right; width: 50%;">
            <a>Add a new day</a>
        </div>
        <div style="clear: both;"></div>
    </div>
    <mat-accordion multi="false">
        <mat-expansion-panel *ngFor="let day of tournament.days; index as dayIdx" class="day">
            <mat-expansion-panel-header>
                <mat-panel-title>{{ day.name }}</mat-panel-title>
                <span style="margin-right: 40px; font-size: 2em;">
                    <mat-icon (click)="deleteDay(dayIdx)">delete</mat-icon>
                </span>
            </mat-expansion-panel-header>
            <app-day-editor [day]="day" [patterns]="tournament.patterns"></app-day-editor>
        </mat-expansion-panel>
    </mat-accordion>

</div>