<div *ngIf="tournament" class="content">
    <div style="float: right; margin-top: 20px;"><a routerLink="/home">Home</a></div>
    <h1 style="text-align: center;">Tournament Editor</h1>
    <mat-form-field style="width: 400px;">
        <mat-label>Tournament name</mat-label>
        <input matInput placeholder="Tournament name" value="" type="text" [(ngModel)]="tournament.name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Nb days</mat-label>
        <input matInput placeholder="Number of days" type="number" min="1" max="5" required="true" [value]="tournament.days.length" (change)="nbDaysChanged($event)">
    </mat-form-field>
    <mat-tab-group dynamicHeight>
        <mat-tab>
            <ng-template mat-tab-label>Events</ng-template>
            <div style="padding: 5px;">
                <app-events-editor [events]="tournament.events"></app-events-editor>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>Patterns</ng-template>
            <div style="padding: 5px;">
                <app-patterns-editor [patterns]="tournament.patterns" [events]="tournament.events"></app-patterns-editor>
            </div>
        </mat-tab>
        <mat-tab *ngFor="let day of tournament.days; index as dayIdx" class="days-tab">
            <ng-template mat-tab-label>
                <div>{{day.name}}</div>

            </ng-template>
            <div style="padding: 10px; vertical-align: top;">
                <div style="width: 80%; display: inline-block;">
                    <app-day-editor [day]="day" [patterns]="tournament.patterns"></app-day-editor>
                </div>
                <div style=" display: inline-block;  vertical-align: top; margin-right: 10px; font-size: 2em;">
                    <mat-icon (click)="deleteDay(dayIdx)">delete</mat-icon>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>