.content {
    padding: 10px;
    width: 1024px;
    margin: 0 auto;
}

.mat-tab-header {
    padding: 0 10px !important;
    min-width: 80px !important;
}

.days-tab .mat-tab-label {
    padding: 0 10px !important;
    min-width: 80px !important;
}